body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#input-record-wrapper {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

#input-record {
  width: 10vw;
}

/*.record {
  background-color: green;
}*/

/*.card-group {
  background-color: red;
  width: 10vw;
  display: table;
  table-layout: fixed;
}*/
